---
layout: default
home: true
---

{%- for post in site.posts limit: site.number_of_posts -%}
  {% if forloop.first == true %}
    <main class="page-content first-post" aria-label="Content">
      <article itemscope itemtype="https://schema.org/BlogPosting">

        <header class="header">
          {% if post.tags and post.tags != empty %}
          <div class="tags">
            {% assign tags = post.tags %}
            <span itemprop="keywords">
              {% for tag in tags %}
              <a class="tag"
                href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </div>
          {% endif %}
          <h1 class="header-title" itemprop="headline"><a class= "header-link" href="{{ post.url }}">{{ post.title | escape }}</a></h1>
          {% if post.date %}
          <small class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ post.date | date: "%b %d, %Y" }}
            </time>
            <time hidden datetime="{{ post.modified | date_to_xmlschema }}" itemprop="dateModified">
              {{ post.date | date: "%b %d, %Y" }}
            </time>
            <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
            <span hidden itemprop="image">{{ post.image }}</span>
            <span hidden itemprop="mainEntityOfPage">{{ post.excerpt }}</span>
          </small>
          {% endif %}
        </header>

        <div class="page-content" itemprop="articleBody">
          {{ post.content }}
        </div>
      </article>

    </main>

  {% else %}
    <article class="post-item">
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <h4 class="post-item-title">{% if post.locale == "DE" %} DE {% else%} EN {% endif %}
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
    </h4>
    </article>
  {% endif %}
{%- endfor -%}
